<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club Deportivo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>

</head>
<body>
    <div class="container-fluid">
        <!-- Navbar -->
        {% block navbar %}
        <div class="row">
            <nav class="navbar navbar-custom">
                <div class="col-2">
                    <a href="{% url 'inicio' %}" class="pl-3">
                        <img class="logo" src="{% static 'images/SVG/logo-centro-deportivo_1.svg' %}" alt="" height="40"/>
                    </a>
                </div>
                <div class="col-2">
                    <span class="user">Usuario <span class="user-icon">👤</span></span>
                </div>
            </nav>
        </div>
        {% endblock navbar %}

        <div class="row">
            <!-- Sidebar -->
            {% block sidebar %}
            <div class="col-2 sidebar">
                <h4 class="text-center text-white">Menú</h4>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'inventarioequipos' %}">Inventario</a>
                <a href="{% url 'instructores' %}">Control de personal</a>
                <a href="{% url 'mantenciones' %}">Mantención</a>
            </div>
            {% endblock sidebar %}

            <!-- Contenido -->
            <div class="col-10 main-content">
                {% block contenido %}
                <h1>Bienvenido al inicio del club deportivo!</h1>
                <p>En la barra lateral están los mantenedores.</p>
                {% endblock contenido %}
            </div>
        </div>

        <!-- Footer -->
        {% block footer %}
        <footer class="footer text-center py-3">
            © 2024 Club Deportivo
        </footer>
        {% endblock footer %}
    </div>

    <!--Javascript-->
    {% block js %}
    {% endblock js %}
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
