{% extends "clubdeportivo/base.html" %}
{% load static %}

{% block titulobotones %}
<h2>Calendario</h2>
{% endblock titulobotones %}

{% block contenido %}
<div id="calendar"></div>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: 'es',  
      events: [
        {% for evento in eventos %}
        {
          title: "{{ evento.title|escapejs }}",
          start: "{{ evento.start|escapejs }}"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      eventContent: function(arg) {
        var eventTitle = document.createElement('div');
        var lines = arg.event.title.split(' - ');

        if (lines.length === 2) {
          eventTitle.innerHTML = lines[0] + '<br>' + lines[1];
        } else {
          eventTitle.innerHTML = arg.event.title;
        }
        return { domNodes: [eventTitle] };
      }
    });

    calendar.render();
  });
</script>
{% endblock contenido %}
