{% extends "clubdeportivo/base.html" %}
{% load static %} 

{% block titulobotones%}
        <h2>{% if instructor %}Editar Instructor{% else %}Agregar Instructor{% endif %}</h2>
{% endblock titulobotones%}

{% block sidebar %}
  <aside class="collapse show collapse-horizontal col-sm-2 p-3 border-end bg-body-tertiary" id="collapseWidthExample">
    <div class="d-flex flex-column align-items-center">
      <a href="{% url 'inicio' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="{% static 'images/1x/logo-centro-deportivo-solo.png' %}" width="100" height="100"/>
      </a>
      <span class="d-print-block p-2 align-items-center">Club deportivo</span>
    </div>
    

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item">
        <a href="{% url 'inicio' %}" class="nav-link link-body-emphasis">
          <p class="bi bi-house-door" style="position:fixed;"> Inicio</p><br>
        </a>
      </li>

      <li>
        <a href="{% url 'dashboard' %}" class="nav-link link-body-emphasis">
          <p class="bi bi-speedometer2" style="position:fixed;"> Dashboard</p><br>
        </a>
      </li>

      <li>
        <a href="{% url 'inventarioequipos' %}" class="nav-link link-body-emphasis">
          <p class="bi bi-grid" style="position:fixed;"> Equipos</p><br>
        </a>
      </li>

      <li>
        <a href="{% url 'mantenciones' %}" class="nav-link link-body-emphasis">
          <p class="bi bi-table" style="position:fixed;"> Mantenimiento</p><br>
        </a>
      </li>

      <li>
        <a href="{% url 'instructores' %}" class="nav-link link-body-emphasis active" aria-current="page">
          <p class="bi bi-person-circle" style="position:fixed;"> Usuarios</p><br>
        </a>
      </li>
      
    </ul>
    <hr>
  </aside>
{% endblock sidebar %}

{% block contenido %}
    <div class="container-fluid">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a type="button" href="{% url 'instructores' %}" class="btn btn-sm btn-outline-secondary">Volver</a>
            </div>
          </div>
        <form method="post">
            {% csrf_token %}
            <div class="col-6 card p-5">
                <div class="row">

                    <div class="form-group col-4">
                        <label for="rut">Rut</label>
                        <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut" 
                               value="{% if instructor %}{{ instructor.rut }}{% endif %}" required>
                    </div>

                    <div class="form-group col-4">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" 
                               value="{% if instructor %}{{ instructor.nombre }}{% endif %}" required>
                    </div>

                    <div class="form-group col-4">
                        <label for="categoria">Categoría</label>
                        <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Categoría" 
                               value="{% if instructor %}{{ instructor.categoria }}{% endif %}" required>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <label for="area">Área</label>
                        <input type="text" class="form-control" id="area" name="area" placeholder="Área" 
                               value="{% if instructor %}{{ instructor.area }}{% endif %}" required>
                    </div>

                    <div class="form-group col-4">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" placeholder="Ubicación" 
                               value="{% if instructor %}{{ instructor.ubicacion }}{% endif %}" required>
                    </div>

                    <div class="form-group col-4">
                        <label for="fecha_ingreso">Fecha de Ingreso</label>
                        <input type="date" class="form-control" id="fecha_ingreso" name="fecha_ingreso" 
                               value="{% if instructor %}{{ instructor.fecha_ingreso }}{% endif %}" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 mt-3">
                        <button type="submit" class="btn btn-primary">{% if instructor %}Guardar{% else %}Agregar Instructor{% endif %}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock contenido %}
