{% extends "clubdeportivo/base.html" %} 
{% load static %} 

{% block titulobotones%}
        <h2>Lista de Equipos</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="{% url 'crear_equipo' %}" class="btn btn-sm btn-outline-danger">Crear Equipo</a>
          </div>
        </div>
{% endblock titulobotones%}

{% block contenido %}
<!--Van a llegar datos a travez de dictEquipos-->
<div class="row">
  <div class="col-10">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">Modelo</th>
          <th scope="col">Ubicación</th>
          <th scope="col" style="width: 7px">Modificar</th>
          <th scope="col" style="width: 7px">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for clave,valor in dictEquipos.items %}
        <tr class="text-center">
          <td>{{ clave }}</td>
          <td>{{ valor.nombre }}</td>
          <td>{{ valor.estado }}</td>
          <td>{{ valor.modelo }}</td>
          <td>{{ valor.ubicacion }}</td>
          <td>
            <a href="{% url 'editar_equipo' clave %}"><i class="bi bi-gear-fill"></i></a>
          </td>
          <td>
            <a href="{% url 'eliminar_equipo' clave %}"><i class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock contenido %}
